extends layout

block content
  h1 Create new item
  
  div
    form(method="POST", action='' ) 
      div.form-div
        label(for="name") Name:
        input(id="name", name="name" required="true" value=(undefined===item ? '' : item.name))
      div.form-div
        label(for="description") Description:
        input(id="description", name="description" value=(undefined===item ? '' : item.description))
      div.form-div
        label(for="model") Model:
        input(id="model", name="model" value=(undefined===item ? '' : item.model))
      div.form-div
        label(for="year") Year:
        input(id="year", name="year" value=(undefined===item ? '' : item.year))
      div.form-div
        label(for="category") Category:
        select(type='category' placeholder='Select category' name='category' required='true' style="min-width: 149px" )
          if categories
            for category in categories
              option(value=category._id selected=(item.category._id.toString()==category._id.toString() ? 'selected' : false)) #{category.name}
      div.form-div
        label(for="number_in_stock") Number In Stock:
        input(id="number_in_stock", name="number_in_stock" value=(undefined===item ? '' : item.number_in_stock))
      div.form-div
        label(for="price") Price:
        input(id="price", name="price" value=(undefined===item ? '' : item.price))
      button(type="submit") Submit


    if errors 
      ul
        for error in errors
          li= error.msg
      


