body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

button {
  padding: 8px;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100px;
  cursor: pointer;
}
